.note {
  background-color: #feff9c;
  height: 10em;
  width: 10em;
  margin: 1em;
  padding: 1em;
  color: black;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  justify-items: center;
  transform: rotate(-6deg);
  z-index: 1;
  transition: all ease .3s;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

.note:nth-child(even) {
  transform: rotate(4deg);
  position: relative;
  background-color: #7afcff;
}

.note:nth-child(3) {
  transform: rotate(-3deg);
  position: relative;
  background-color: #ff7eb9;
}

.note:hover {
  transform: scale(1.5);
  z-index: 5;
}

.note__text {
  font-weight: bold;
  flex: 1;
}

.note__link {
  display: none;
}